*.pyc
__pycache__

images/qrcode/*
images/xkcd/*
images/pix/temp/*
images/img_ccb/temp/*
images/upscale/*
images/qemu/*
webss/1.png

video/temp/*

json/*.json
!json/expl_list.json
!json/fea_list.json
!json/paths.json
!json/achievement.json

web/index.html
web/templates/maimai_b50/df_data.json

node_modules
package-lock.json