aiohttp==3.11.12
beautifulsoup4==4.14.2
chardet==5.2.0
httpx==0.28.1
nonebot2==2.4.2
openai==2.3.0
Pillow==11.3.0
pixivpy3==3.7.5
pyzbar==0.1.9
Requests==2.32.5
selenium==4.36.0
webdriver_manager==4.0.2
yt_dlp==2025.9.26
