body {
    overflow: hidden;
}
* {
    font-family: "HarmonyOS Sans SC";
}
#container {
    background-color: #eee;
    background-image: linear-gradient(0deg,#45c7e3,#7dc0fd 10%,#d3a1ff 25%,#ff99c0 50%,#d3a1ff 75%,#7dc0fd 90%,#45c7e3);
    width: 736px;
    padding: 16px;
    background-size: 100% 100%;
}
.b50_song_list {
    position: relative;
    width: 100%;
    height: 28px;
    margin-bottom: 8px;
    background-color: #555;
    border-radius: 6px;
}
.bsl_title,.bsl_songid,.bsl_levelds,.bsl_songra {
    color: #fff;
    line-height: 28px;
    position: absolute;
    font-weight: 600;
}
.bsl_songid,.bsl_levelds,.bsl_songra {
    width: 32px;
    text-align: center;
}
.bsl_songid {
    font-size: 10px;
    left: 2px;
}
.bsl_title {
    font-size: 16px;
    left: 40px;
}
.b50_song_list.basic {
    background-color: #3c3;
    background-image: linear-gradient(#3d3,#383);
}
.b50_song_list.advanced {
    background-color: #cc3;
    background-image: linear-gradient(#dd3,#883);
}
.b50_song_list.expert {
    background-color: #c33;
    background-image: linear-gradient(#d33,#833);
}
.b50_song_list.master {
    background-color: #a3c;
    background-image: linear-gradient(#b3d,#83c);
}
.b50_song_list.remaster {
    background-color: #cac;
    background-image: linear-gradient(#dad,#a9a);
}
.completion_filter {
    position: absolute;
    height: 100%;
    background-color: #0004;
    border-radius: 6px;
}
.bsl_levelds {
    font-family: Impact;
    font-weight: normal;
    font-size: 15px;
    right: 84px;
}
.bsl_songra {
    font-size: 12px;
    right: 0px;
}
.bsl_ico {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -1px;
    background-size: cover;
}
.bsl_ico.rank {
    right: 32px;
    width: 52px;
    height: 24px;
    top: 02px;
}
.bsl_ico.fc {
    right: 148px;
}
.bsl_ico.sync {
    right: 120px;
}
#content {
    background-color: #fffa;
    padding: 16px;
    border-radius: 16px;
}
#rating_box {
    margin-top: 0px;
    position: absolute;
    top: 36px;
    width: 120px;
    height: 34px;
    left: 625px;
    background-image: url("/templates/maimai_b50/assets/prism/rating/0.png");
    background-size: cover;
}
#rating_box span {
    color: #ff9;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 7px;
    right: 6px;
    letter-spacing: 3px;
}